/* container for our bank stuff */

.container {
    padding: 16px;
    width: 30%;
    background-color: lightblue;
}
/* Login page inputs design */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Style of buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}
button:hover {
    background-color: #6BD9A2;
}
/* Style of h2 headers*/

h2 {
    text-decoration: bold;
    text-align: center;
}
.container a:hover {
    color: #E45C33;
    text-align: center;
    text-decoration: none;
}
.container a {
    color: brown;
}
.maksmine {
    box-sizing: border-box;
    height: 24px;
    width: 150px;
}
.table {
    background-color: #E0FFFF;
    border-radius: 6px;
}
button#logout.navbar-brand {
    width: 40px;
    margin: 0px;
    background-color: #90EE90;
    color: grey;
    padding: 0;
}
button#logout:hover {
    background-color: #3CB371;
}